.collapsible-body {
    background-color: rgb(245,245,245,0.4);
    color: rgb(66,66,66);
}
.text {
    color: rgb(66,66,66)!important;
    margin-top: -1px;
    font-family: 'Rajdhani', sans-serif;
    font-size: 17px;
    font-weight: bolder;
}
.collapsible {
    margin: -2px;
    color: rgb(66,66,66);
    font-size: 20px;
    font-weight: bolder;
}
.collapsible-header {
    background-color: rgb(245,245,245,0.4)!important;
}
.see-recipe {
    margin-top: 5px!important;
}
.save {
    margin-top: 5px!important;
    margin-left: 10px!important;
}
.account-details {
    color: white;
    margin-top: -10px;
}
.no-recipes {
    color: white!important;
    margin-top: -10px!important;
}
.searchBarDiv, .searchBarForm{
    color:rgb(66,66,66)!important; 
}

.searchBarInput {
    font-family: 'Rajdhani', sans-serif; 
    font-weight: bolder;
    color:rgb(66,66,66)!important;
    font-size: 20px!important;
}

input::placeholder {
    color: rgb(66,66,66,0.8)!important;
}

.carousel {
    margin-top: 0px;
}

.carousel-item {
    padding-bottom: 200px;
}


.genreOptions {
    font-size: 20px!important; 
    font-weight: bolder;
    color:rgb(66,66,66);
    font-family: 'Rajdhani', sans-serif;
    margin-top: -17px;
}

.optionBox {
    float: left;
    padding-right: 7%;
    margin-left: -3px;
}

.radioButtonHeader {
    font-size: 20px!important;
    font-weight: bolder;
    color:rgb(66,66,66);
    font-family: 'Rajdhani', sans-serif;  
    margin-top: -27px;
    width: 792px; 
}

.searchButtonDiv {
    margin-top: 70px;
    margin-left: 0px;
}
/* Search Button */
.search-button {
    display:inline-block;
    border: 2px solid rgb(66,66,66, 0.7);
    box-sizing: border-box;
    font-family:'Rajdhani', sans-serif;
    font-weight: bolder;
    font-size: 20px;
    color:rgb(66,66,66);
    text-align:center;
    transition: all 0.15s;
    background-color:rgb(66,66,66, 0.2)!important;
    text-transform: capitalize!important;
    width: 792px;
    height: 35px;
    }
.search-button:hover{
    color:rgba(245, 245, 245, 0.8);
    border-top-color:rgb(66,66,66);
    }
.search-button:active{
    color:rgba(245, 245, 245, 0.5);
    border-color: rgba(245, 245, 245, 0.5);
    }
/* End button */

/* Modal style */
.modal {
    background: rgb(66,66,66, 0.9);
    width: 500px;
}

.modal-trigger, .modal-header, .modal-label, .modal-button{
    opacity: 0.8;
    font-family:'Rajdhani', sans-serif;
    font-weight: bolder;
    color: white;  
}

.modal-trigger {
    font-size: 20px;
}

.logout-message {
    padding-top: 10px;
}
